* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-black-color: #4a4a4a;
	--text-grey-color: #898989;
	--white-color: #fff;
	--black-color: #000;
	--pink-color: #BD2572;
	--border-radius-1: 4px;
	--red-color: #cf0000;
	--modal-blue: #65a0ea;
	--card-black: #1a1a1a --trans: all 0.3s ease-in-out;
	--pollbg-color: rgba(0, 0, 0, 0.5);
	--light-grey: #e0e0e0;
}

.bg-light-grey-gradient {
	background: linear-gradient(45deg, #00b7b7b7, #21474747);
}

.bg-red-color {
	background-color: var(--red-color);
}

.bg-light-grey {
	background-color: var(--light-grey) !important;
}

/* ==============Borders ===================== */
.border-1 {
	border: 1px solid var(--pink-color);
}

.border-2 {
	border: 2px solid var(--pink-color);
}

.borderLeft {
	border-left: 5px solid var(--pink-color)
}

.border-grey {
	border: 1px solid rgba(174, 174, 174, 0.3);
}

.borderBtm {
	border-bottom: 1px solid #ccc !important;
}

.grad {
	/* background: linear-gradient(to top, #010101, transparent); */
	background: var(--zone-image-gradient);
	opacity: 1;
	
}
.zone-text-css{
	color: var(--zone-name-color) !important;
}

/* ============= headerlogo classes============*/
.commonClass {
	width: var(--width) !important;
	height: var(--height) !important;
}

/* ===============FONT COLORS================== */
.text-black-1 {
	color: var(--black-color);
}

.text-black {
	color: var(--text-black-color);
}

.text-white {
	color: var(--white-color);
}

.text-pink {
	color: var(--pink-color) !important;
}

.text-grey {
	color: var(--text-grey-color) !important;
}

.text-red {
	color: var(--red-color);
}

.text-blue-modal {
	color: var(--modal-blue)
}

.text-card-black {
	color: var(--card-black)
}

.text-light-grey {
	color: var(--light-grey);
}

.text-capitalize {
	text-transform: capitalize;
}

.modal-content {
	border-radius: 4px !important;
}

.offcanvas-title {
	width: 100%;
}

input {
	outline: none;
}

.address-text-area {
	border-radius: 8px;
	padding: 5px;
	color: #898989;
	border: 1px solid gray;
	margin-left: 30px;
	outline: none;
}

.placeOrderBtn {
	border: 1px solid gray;
    border-radius: 4px;
    background-color: pink;
}

/* ===============FONT SIZES================== */
.fs-7 {
	font-size: 7px;
}

.fs-8 {
	font-size: 8px;
}

.fs-9 {
	font-size: 9px;
}

.fs-10 {
	font-size: 10px !important;
}

.fs-11 {
	font-size: 11px;
}

.fs-12 {
	font-size: 12px;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

.fs-16 {
	font-size: 16px;
}

.fs-17 {
	font-size: 17px;
}

.fs-18 {
	font-size: 18px;
}

.fs-19 {
	font-size: 19px;
}

.fs-20 {
	font-size: 20px;
}

.fs-21 {
	font-size: 21px;
}

.fs-22 {
	font-size: 22px;
}

.fs-24 {
	font-size: 24px;
}

.fs-25 {
	font-size: 25px;
}

.fs-26 {
	font-size: 26px;
}

.fs-28 {
	font-size: 28px;
}

.fs-30 {
	font-size: 30px;
}

@media screen and (max-width:520px) {
	.fs-sm-7 {
		font-size: 7px;
	}

	.fs-sm-8 {
		font-size: 8px;
	}

	.fs-sm-9 {
		font-size: 9px;
	}

	.fs-sm-10 {
		font-size: 10px;
	}

	.fs-sm-11 {
		font-size: 11px;
	}

	.fs-sm-12 {
		font-size: 12px;
	}

	.fs-sm-13 {
		font-size: 13px;
	}

	.fs-sm-14 {
		font-size: 14px;
	}

	.fs-sm-15 {
		font-size: 15px;
	}

	.fs-sm-16 {
		font-size: 16px;
	}

	.fs-sm-17 {
		font-size: 17px;
	}

	.fs-sm-18 {
		font-size: 18px;
	}

	.fs-sm-19 {
		font-size: 19px;
	}

	.fs-sm-20 {
		font-size: 20px;
	}

	.fs-sm-22 {
		font-size: 22px;
	}

	.fs-sm-24 {
		font-size: 24px;
	}

	.fs-sm-26 {
		font-size: 26px;
	}

	.fs-sm-28 {
		font-size: 28px;
	}

	.fs-sm-30 {
		font-size: 30px;
	}
}



/* ===============FONT WEIGHTS================== */
.fw-2 {
	font-weight: 200;
}

.fw-3 {
	font-weight: 300;
}

/***Light***/
.fw-4 {
	font-weight: 400;
}

/***Normal***/
.fw-5 {
	font-weight: 500;
}

/***Medium***/
.fw-6 {
	font-weight: 600;
}

/***Semi Bold***/
.fw-7 {
	font-weight: 700;
}

/***Bold***/
.fw-8 {
	font-weight: 800;
}

.cursor-pointer {
	cursor: pointer;
}